
#UnProjet {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}

body .unProjet_container{
    width: 600px;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
}

body .unProjet_container h2 {
    font-size: 1.5rem;
    text-align: center;
    position: relative;
    margin-top: 30px;
    margin-bottom: 20px;
}

body .unProjet_container p {
    text-align: justify;
    line-height: 1.5;
    margin-bottom: 10px;
}

body .unProjet_container .button {
    display: block;
    background-color: black;
    border: 1px solid black;
    color: white;
    width: 150px;
    text-align: center;
    padding: 9px 40px 15px;
    margin: auto;
    transition: all ease-in-out 0.3s;
}

body .unProjet_container .button:hover {
    background-color: white;
    color: black;
}

/*
body .unProjet_container ul {
    margin-left: 10px;
    padding-left: 10px;
    list-style-type: disc;
}

body .unProjet_container ul li {
    margin-bottom: 10px;
}


body .unProjet_container .button:hover {
    background-color: white;
    color: black;
}
*/

.details {
    display: none;
}

  
  /*Carousel*/
  .carousel {
    display: flex;
    overflow: clip;
    position: relative;
    gap: 5rem;
    width: 100%;
    padding: 2rem;
  }
  
  .carousel::before,
  .carousel::after {
    content: "";
    background: linear-gradient(
      to right,
      white 0%,
      rgba(255, 255, 255, 0) 100%
    );
    position: absolute;
    height: 100%;
    width: 10rem;
    z-index: 2;
  }
  
  .carousel::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }
  
  .carousel::before {
    left: 0;
    top: 0;
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-10rem * 8));
    }
  }
  
  .carousel .logo {
    object-fit: contain;
    min-height: 10rem;
    max-height: 10rem;
    max-width: 10rem;
    border-radius: 0rem;
    animation: scroll 10s linear infinite;
  }